h1, h2, h3, p, li {
	font-family: Blinker, serif;
	font-weight: 700;
}

p, li {
	font-weight: 200;
}



/***
Navbar
***/

.nav {
	display: inline-block;
}

div .item {
	color: black;
}

.item {
	display: inline-block;
	color: rgb(35, 200, 200);
}



.nav-right {
	float: right;
	margin-right: 20px;
}

.shoe-icon {
	height: 20px;
}

/***
Product Banner
***/
/* color-1: #E32525 */
/* color-2: #E32567 */

#product-banner {
	background: linear-gradient(to left, #E32525, #E32590);
}

#overlay {
	background: linear-gradient(rgba(255, 68, 100, 0.5));
}

/***
Page body
***/

main {
	margin-left: 10%;
	margin-right: 10%;
}
